{% extends "base.html" %}
{% block title %}关于 | 剁手后续记{% endblock %}
{% block content %}
    <div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h1>About</h1>
        <p>
            这是一个查询快递的网站, 你要问我他能干嘛, 我只能说, 这个网站能查快递。
        </p>
        <p>
            Open API 是我做这个的唯一理由, 我希望能查快递更快些, 虽然现在有很多 App 都支持快递查询, 但是我认为实在是太慢了,
            当我想看看我关注的包裹在哪的时候, 我希望一步到位, 最好不需要打开 App, 最好连屏幕都不需要解锁。
        </p>
        <p>
            可以说, 因为懒, 才有了这个满足需求小众如我的这个轮子。
        </p>
        <hr/>
        <h2>Q&A</h2>
        <blockquote>
            <b>只给网站除了能查快递还能做什么? 为什么要写这么一个东西?</b>
        </blockquote>
        <p>
            啥也做不了,只能查快递。至于为什么要写, 是为了查快递。
        </p>
        <br/>
        <blockquote>
            <b>那为什么还要写这个东西, 不是很多东西都可以查快递?</b>
        </blockquote>
        <p>
            的确啥也做不了,只能查快递。如果硬说有什么功能, 只能说 OpenAPI 还算不错, 用来查快递。
        </p>
        <br/>
        <blockquote>
            <b>Open API 能做什么?</b>
        </blockquote>
        <p>
            Open API 可以非常方便的拿到关注的快递信息, 如果配合着 Alfred 或者 Workflow, 会有神奇效果。
        </p>
        <br/>
    </div>
    </div>
{% endblock %}